:root {
  --primary-color: #c2eaba;
  --secondary-color: #c5f4e0;
  --neutral-color: #e6efe0;
  --heading-font: "Montserrat", sans-serif;
  --body-font: "Roboto", sans-serif;
}

* {
  font-family: var(--body-font);
  max-width: 1100px;
  margin: 0 auto;
}

header,
main,
footer {
  margin: 0, auto;
}

/*********** HEADER ***********/
header {
  display: flex;
  background-color: var(--secondary-color);
  padding: 1rem 0;
  button {
    grid-column: 1/2;
  }
  img,
  p {
    grid-column: 2/3;
  }
}
/*********** MAIN ***********/
main {
  margin: 1rem 0;

  h1 {
    font-family: var(--heading-font);
  }
}
/*********** FOOTER ***********/
footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: var(--secondary-color);

  .personal-info {
    grid-column: 1/2;
  }

  .social-media {
    grid-column: 2/3;
  }
}
